<!--
  title: about.component.html
  author: ngi bujri
  date: june 20 2023
  description: about component
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/reiseuhu-EvY96ANTkA4-unsplash.jpg" alt="" />
      </div>
      <div>
        <em
          >Photo by Reiseuhu on
          <a
            class="attribution-link"
            href="https://unsplash.com/photos/EvY96ANTkA4"
            target="_blank"
            >Unsplash</a
          ></em
        >
      </div>
    </div>
  </div>

  <!-- author bio -->
  <div fxFlex>
    <h1 class="blue">Who is George R. R. Martin?</h1>
    <p>
      George R.R. Martin was born September 20, 1948. He began writing stories
      at a very young age and would sell them to other neighborhood children for
      pennies. In high school, George became a fan of comic books and would
      start a collection and even wrote fan magazines. George's first ever sale
      in his professional career was at the age of 21 where he sold "The Hero"
      to Galaxy for publishing. He would later write "A Song of Ice and Fire"
      which would become one of his best selling books and would receive a T.V.
      series adaption by HBO.
    </p>
    <em>
      Source:
      <a
        href="https://georgerrmartin.com/about-george/life-and-times/"
        target="_blank"
        class="attribution-link"
        >https://georgerrmartin.com/about-george/life-and-times/</a
      >
    </em>
  </div>
</div>
