<!--
  title: contact.component.html
  author: ngi bujri
  date: june 3 2023
-->

<div class="container">
  <!-- header -->
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">Get in Touch!</h2>
      <hr />
    </div>
  </div>

  <!-- contact info -->
  <div class="row">
    <!-- location -->
    <div class="col-sm-6 left">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="text-center">Location</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0 text-center">
              1234 South Street
            </li>
            <li class="list-group-item border-0 text-center">
              Greensboro, North Carolina 1276
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- phone -->
    <div class="col-sm-6 right">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="text-center">Phone</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0 text-center">(336) 254-1221</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
