<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">Wolfgang Mozart</h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <!-- picture -->
      <figure>
        <img
          src="../../assets/mozart.jpg"
          alt="Wolfgang Mozart"
          class="img-fluid"
        />
        <figcaption>
          <a href="https://www.classicfm.com/composers/mozart/" target="_blank"
            >source</a
          >
        </figcaption>
      </figure>
    </div>

    <!-- bio -->
    <div class="col-sm-9">
      <p>
        Johannes Chrystostomus Wolfgangus Theophilus Mozart was bord in 1756 and
        passed away in 1791. He is considered to be one of the most gifted
        musicians of all time. He composed many great pieces of classical music.
        Mozart was more than a gifted composer though. He was also a conductor,
        pianist, organist, and violinist. Mozart made music for opera, symphony,
        concerto, instrumental, vocal and many more.
      </p>
    </div>
  </div>
</div>
