/**
 * title: book-list.component.scss
 * author: ngi bujri
 * date: june 23 2023
 * description: book-list styles
 */

.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}
